body{
background-color: black;}
#portfolio {
    margin-top: 50px;
    margin-left: 70px;
}

.project {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.project img {
    width: 220px;
    height: auto;
    color: white;

}

.project h3 {
    margin-top: 10px;
    font-size: 18px;
    color: white;

}

.project p {
    margin-top: 5px;
    font-size: 14px;
    color: white;
}
/*video brenda p*/
.media-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.media-container img {
    display: block;
    width: 220px;
    height: auto;
}

.media-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    display: none;
}

.project:hover .media-container video {
    display: block;
}
