body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000; /* Start with black background */
    transition: background-color 5s ease; /* Slow transition over 5 seconds */
    
  }
  
  video#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Ensure the video covers the entire width */
    height: 100%; /* Ensure the video covers the entire height */
    object-fit: cover; /* Ensure the video fills the entire container without distortion */
    z-index: -1;
    transition: opacity 1s ease;
    filter: brightness(50%);

  }
  
  .loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .text-container {
    display: none;
    text-align: center;
    margin-top: 320px; /* Adjust as needed */
  }
  .main-content {
    display: none;
  }
  .dark-text {
    color: #fff;
    font-size: 43px; /* Adjust as needed */
    font-weight: 100;
    opacity: 0; /* Start with opacity 0 */
    animation: fadeInAndZoomText 3s ease-in-out forwards; /* Animation for text */
    letter-spacing: 25px;
  }
  .continue-button {
    display: none; /* Initially hide the button */
    font-size: 20px; /* Same font size as the "DUNE" text */
    font-weight: 200;
    color: #fff;
    opacity: 0; /* Start with opacity 0 */
    animation: fadeIn 1s ease forwards; /* Fade-in animation */
    margin-top: 20px; /* Adjust as needed */
    cursor: pointer;
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInAndZoomText {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
 /* styles.css */

/* Menu styles */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgb(16, 16, 16);
  color: white;
  padding: 20px;
  width: 300px;
  padding-top: 40px;
  height: 100vh;
  transition: width 0.3s, transform 0.6s; /* Add transform for smooth animation */
  transform: translateX(-340px); /* Initially move menu out of view */
}

.menu.active {
  transform: translateX(0); /* Move menu into view */
}

.menu-toggle {
  position: fixed;
  top: 20px; /* Adjust position as needed */
  left: 20px; /* Adjust position as needed */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: left 0.6s ease;
}

.menu-content {
  display:contents;
}

.menu-content ul {
  list-style-type: none;
  padding: 0;
}

.menu-content ul li {
  padding: 10px 0;
  margin-top: 23px;
  border-bottom: 0.5px solid #ccc; 
}

.menu-content ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 10px;
}

.menu-content.active {
  display: block;
}
